:root {}



ul {
    list-style: none;
    line-height: 2em;
}

.tree summary {
    cursor: pointer;
}

.tree summary::marker {
    display: none;
}


.tree summary::-webkit-details-marker {
    display: none;
}

ul li {
    position: relative;
}

ul li::before {
    position: absolute;
    left: -10px;
    top: 0;
    border-left: 2px solid gray;
    /* border-left: 2px solid red; */
    border-bottom: 2px solid gray;
    content: "";
    width: 8px;
    height: 1em;
}

ul li::after {
    position: absolute;
    left: -10px;
    bottom: 0;
    border-left: 2px solid gray;
    content: "";
    width: 8px;
    height: 100%;
}

ul li:last-child::after{
    display: none;
}