* {
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: sens-serif;
}

body {
    min-height: 100vh;
}

ul {
    /* color: aqua; */
    list-style-type: none;
}

ul span.folder {
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.3rem;
}

ul span.folder::before,
li.file-html::before,
li.file-css::before,
li.img::before {
    display: inline-block;
    margin-right: 0.4rem;
}

ul span.folder::before {
    content: '\1F5C0';
}

li.file-html::before {
    content: '\1F5B9';
}

li.img::before {
    content: '\1F5BA';
}

li.file-css::before {
    content: '\1F5CB';
}

ul.nested li {
    position: relative;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
}

ul.nested{
    position: relative;
}

ul.nested::before{
    position: absolute;
    content: "";
    left: 2%;
    width: 1.5rem;
    height: 100%;
    border-left: 1px solid #000;
}

ul.nested li::after{
    position: absolute;
    content: "";
    left: 0.7%;
    top: .04rem;
    width: 1.5rem;
    height: 1rem;
    border-bottom: 1px solid #000;
}